.details-container {
  margin-top: 3%;
}

.details-container img {
  width: 50%;
  margin-left: 0;
  border: 2px solid gray;
  padding: 10px;
}
.details-body {
  width: 50%;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .details-container {
    flex-direction: column-reverse;
  }
  .details-container img {
    width: 90%;
    margin-left: 2%;
    margin-bottom: 30px;
  }
  .details-body {
    width: 90%;
    text-align: left;
    margin-left: 2%;
    margin-bottom: 20px;
  }
}
